@use "../../abstracts" as *;

.contact{
   &__row{
      &__card{
         display: flex;
         align-items: center;
         gap: var(--gap);

         &__icon{
            max-width: 8rem;
            height: 8rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
         }

         &__body{
            font-size: 1.4rem;
         }
      }
   }
}