@use "../../abstracts" as *;

.differentials{
   padding-bottom: var(--fs-1000);
   
   &__header{
      padding-bottom: 20rem;
   }

   &__content{
      margin-top: -14rem;
      width: 100%;

      &__row{
         &__card{
            width: 100%;

            &__image{
               width: 100%;
               height: 30rem;
            }

            &__body{
               padding: calc(var(--gap) * 2);
               background: #f8f8f8;

               &__header{
                  h3{
                     text-align: justify;
                  }
               }
            }
         }
      }
   }

   .owl-dots{
      display: none;
   }

   .owl-nav{
      margin-top: calc(var(--gap) * 2);
      display: flex;
      justify-content: center;
      gap: calc(var(--gap) * 2);

      button{
         width: var(--fs-700);
         height: var(--fs-700);
         display: flex;
         justify-content: center;
         align-items: center;
         background: var(--clr-white-500) !important;
         border-radius: 50%;
         box-shadow: 0 0 30px rgba(#000, .15);
         @include transition(all);
         
         &:hover{
            background: var(--clr-primary-500) !important;
            @include transition(all);
         }

         span{
            font-size: 3rem !important;
            line-height: 0 !important;
         }
      }

      //breakpoint mobile
      @include mq(sm){
         padding-bottom: 0;
      }
   }
}
