@use "../../abstracts" as *;

.services{
  &__row{
    &__card{
      display: flex;
      flex-direction: column;
      position: relative;

      &__image{
        width: 100%;
        min-height: 32rem;
        height: 100%;
        z-index: 0;
      }

      &__content{
        display: flex;
        flex-flow: column;
        width: calc(100% - (var(--gap) * 4));
        max-height: 18.5rem;
        height: 100%;
        margin: calc((18.5rem / 2) * -1) auto 0 auto;
        padding: calc(var(--gap) * 2) var(--gap);
        z-index: 1;

        &__body{
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          height: 100%;
        }
      }
    }
  }

  //breakpoint mobile
  @include mq(sm){
    &__row{
      gap: calc(var(--gap) * 4);
    }
  }
}