@use '../abstracts' as *;

.footer{

   &__copyright{
      &__row{
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         gap: var(--fs-100);

         p{
            flex-basis: 100%;
            text-align: center;
         }

         ul{
            order: -1;
            display: flex;
            gap: var(--gap);
            flex-basis: 100%;
            justify-content: center;
            font-size: 2.4rem;
         }
      }
   }

   &__developer{
      &__row{
         font-size: 1.5rem;
         line-height: 1.1 !important;
         
         &__validator{
            a{
               display: flex;
               align-items: end;
            }
         }

         a{
            &:hover{
               color: var(--clr-white-500);
            }

            i{
               line-height: 1 !important;
               margin-right: 4px;
            }
         }
      }
   }

   //breakpoint mobile
   @include mq(sm){
      &__copyright{
         &__row{
            ul{
               font-size: var(--fs-400);
            }
         }
      }
      
      &__developer{
         &__row{
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--fs-100);
            text-align: center;
            
            &__agency{
               flex-basis: 100%;
            }
         }
      }
   }
}